::ng-deep #container-line .highcharts-background{
  fill: var(--background-tertiary)!important;
}
::ng-deep   #container-line .highcharts-plot-background{
  fill: var(--background-tertiary)!important;
}

::ng-deep #container-line .highcharts-title{
  fill: var(--foreground-light)!important;
}
  
  #container-line {
    height: 450px;
  }
 
  ::ng-deep .highcharts-credits{
    display: none;
}
  
  ::ng-deep tspan {
    fill: var(--foreground-input)!important;
  }

  ::ng-deep text {
    fill: var(--foreground-input)!important;
  }