<div class="chart-one p-4" dir="rtl">
    <div class="row">
        <div class="col-2" *ngFor="let item of items">
            <div class="pomp-status-card">
                <span [style.display]="'inline-grid'" class="text-right float-right">
                    <h5>پمپ شماره {{item.status+1}}</h5>
                    <p *ngIf="item.status==1">روشن</p>
                  <p *ngIf="item.status==0" >خاموش</p>
                  <p *ngIf="item.status==2">خطا</p>
                </span>

                <button *ngIf="item.status==1" class="blink_me place-status-btn status-on" mat-mini-fab></button>
              <button *ngIf="item.status==0" class="place-status-btn status-off" mat-mini-fab></button>
              <button *ngIf="item.status==2" class="blink_me place-status-btn status-fail" mat-mini-fab></button>
            </div>
          </div>
    </div>
</div>
