.highcharts-figure .chart-container {
	width: 100%;
	height: 250px;
    float: left;
    color: var(--foreground-light)!important;

}

.ch-desc2 span{
    position: absolute;
    top: 90%;
    right: 46%;

}

::ng-deep .temps .highcharts-background{
    fill: var(--background-tertiary);
}
.temp,.temp-desc,h6{
    color: var(--foreground-light);
}
::ng-deep  .highcharts-axis-labels text, ::ng-deep .highcharts-yaxis-labels text{
    color: var(--foreground-light)!important;
    fill: var(--foreground-light)!important;
} 

::ng-deep .highcharts-credits{
    display: none;
}