<div class="p-4">
  <div class="">

        <div class="cal-header row mb-4 p-4 bg-div">
            <div class="col-10">
                <mat-form-field>
                <mat-label>فیلتر</mat-label>
                <input color="warn"
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder=""
                  #input
                />
              </mat-form-field>
            </div>
            <div class="col-2">
                <button mat-raised-button (click)="openDialog()" class="cal-btn mt-2" >رویداد جدید</button>
            </div>
        </div>




    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>تاریخ شروع</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef>ساعت شروع</th>
        <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>تاریخ پایان</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef>ساعت پایان</th>
        <td mat-cell *matCellDef="let element">{{ element.endTime }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>وضعیت بویلر ها</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status">
            روشن
          </div>
          <div *ngIf="!element.status">
            خاموش
        </div>
      </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>حذف</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button><i class="fa fa-trash"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
