<div class="places-form " dir="rtl">
    <h2 class="mb-2 px-4 text-center">ویرایش سنسور</h2>
    <mat-dialog-content class="py-4 text-right container">
      <form [formGroup]="sensorForm">
        <div class="row mb-4">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width mt-3">
              <mat-label>نام سنسور</mat-label>
              <input matInput autocomplete="off" formControlName="name" placeholder="">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field dir="rtl" class="text-right full-width mt-3" appearance="fill">
              <mat-label> انتخاب تجهیز مربوطه</mat-label>
              <mat-select formControlName="eq_id">
                <mat-option></mat-option>
                <mat-option [value]="eq.eqid" *ngFor="let eq of equipments">{{
                    eq.eqname
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="col-md-6">
            <mat-form-field dir="rtl" class="text-right full-width mt-3" appearance="fill">
              <mat-label>انتخاب نوع سنسور</mat-label>
              <mat-select formControlName="type_id">
                <mat-option></mat-option>
                <mat-option [value]="sen.id" *ngFor="let sen of sensorTypes">{{
                    sen.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field dir="rtl" class="text-right full-width mt-3" appearance="fill">
              <mat-label>انتخاب پورت سنسور</mat-label>
              <mat-select formControlName="port">
                <mat-option></mat-option>
                <mat-option [value]="sen.value" *ngFor="let sen of Ports">{{
                    sen.key
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
  
        <div class="py-2 text-center">
          <button mat-button class="cancel-btn">بازگشت</button>
          <button mat-button (click)="submit()" class="add-btn">ذخیره</button>
        </div>
      </form>
    </mat-dialog-content>
  </div>