.line-chart {
	animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
  width: 100%;
  margin:auto ;
}

#canvas{
  height: 600px!important;
}

// .aspect-ratio {
  // height: 0;
  // padding-bottom: 50%; // 495h / 990w
// }

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}