
.highcharts-figure, .highcharts-data-table table {
    min-width: 110px; 
    // max-width: 400px;
    width: 95%;
    margin: 1em auto;
}


::ng-deep .highcharts-background{
    fill: var(--background-tertiary);
}
::ng-deep .highcharts-credits{
    display: none;
}