<div class="places-form" dir="rtl">
     <h2 class="mb-2 px-4 text-center">افزودن تجهیزات</h2>
        <mat-horizontal-stepper linear #stepper>
        <mat-step>
          <form [formGroup]="eqForm" class="">
            <ng-template matStepLabel>افزودن تجهیزات</ng-template>
  
            <div class="row p-4">
              <div class="col-12">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>نام تجهیز</mat-label>
                  <input matInput autocomplete="off" formControlName="name"
                   placeholder="">
                </mat-form-field>
              </div>


              <div class="col-6">
                <mat-form-field dir="rtl" class="text-right full-width" appearance="fill">
                  <mat-label>انتخاب نوع تجهیز</mat-label>
                  <mat-select formControlName="type_id">
                    <mat-option></mat-option>
                    <mat-option [value]="eq.id" *ngFor="let eq of eqTypes">{{
                      eq.name
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field dir="rtl" class="text-right full-width" appearance="fill">
                  <mat-label>انتخاب محل</mat-label>
                  <mat-select formControlName="place_id">
                    <mat-option></mat-option>
                    <mat-option [value]="place.id" *ngFor="let place of places">{{
                      place.name
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              
            </div>
  
            <mat-form-field *ngIf="eqs.length>0" class="example-chip-list my-4 full-width" appearance="fill">
              <mat-label>تجهیزات</mat-label>
              <mat-chip-list #chipList aria-label="Fruit selection" class="full-width"> 
                <mat-chip *ngFor="let fruit of eqs" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(fruit)">
                  {{fruit.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-form-field>
  
            <div class="py-2 mb-2 text-center">
              <button mat-button matStepperPrevious class="cancel-btn ">بازگشت</button>
              <button mat-button (click)="add()" class="add-new-btn mx-2">افزودن</button>
              <button mat-button *ngIf="eqs.length>0"  class="add-btn" (click)="submitEquipments()">ذخیره</button>
            </div>
            <div class="text-center">
              <button mat-button *ngIf="eqs.length>0" (click)="submitEquipments()" matStepperNext class="add-btn m-auto mx-2">ذخیره و افزودن سنسور</button>
            </div>
          </form>
        </mat-step>
  
  
        <mat-step>
  
          <form [formGroup]="sensorForm">
            <ng-template matStepLabel>افزودن سنسور</ng-template>
  
  
            
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>نام سنسور</mat-label>
                  <input matInput autocomplete="off" formControlName="name" placeholder=""
                    >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field dir="rtl" class="text-right full-width mt-3" appearance="fill">
                  <mat-label> انتخاب تجهیز مربوطه</mat-label>
                  <mat-select formControlName="eq_id">
                    <mat-option></mat-option>
                    <mat-option [value]="eq.id" *ngFor="let eq of equipments">{{
                      eq.name
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="col-md-6">
                <mat-form-field dir="rtl" class="text-right full-width mt-3" appearance="fill">
                  <mat-label>انتخاب نوع سنسور</mat-label>
                  <mat-select formControlName="type_id">
                    <mat-option></mat-option>
                    <mat-option [value]="sen.id" *ngFor="let sen of sensorTypes">{{
                      sen.name
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field dir="rtl" class="text-right full-width mt-3" appearance="fill">
                  <mat-label>انتخاب پورت سنسور</mat-label>
                  <mat-select formControlName="port">
                    <mat-option></mat-option>
                    <mat-option [value]="sen.value" *ngFor="let sen of Ports">{{
                      sen.key
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
  
            <mat-form-field *ngIf="sensors.length>0" class="example-chip-list my-4 full-width" appearance="fill">
              <mat-label>سنسور ها</mat-label>
              <mat-chip-list #chipList2 aria-label="sensor selection" class="full-width"> 
                <mat-chip *ngFor="let sensor of sensors" [selectable]="selectable" [removable]="removable"
                  (removed)="removeSensor(sensor)">
                  {{sensor.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-form-field>
  
            
  
  
  
  
            <div class="py-2">
              <button mat-button matStepperPrevious class="cancel-btn">بازگشت</button>
              <button mat-button (click)="addSensor()" class="add-new-btn mx-2">افزودن</button>
              <button mat-button (click)="submit()" *ngIf="sensors.length>0" class="add-btn">ذخیره</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
</div>