.mat-typography{
    padding: 10px;
}

.ok-btn {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 180px;
    background-color: var(--background-light);
    background: var(--background-light);
  }

  .cancel-btn {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 180px;
  }